#containsAnswers{
  width:800px;
  height:400px;
  background-color: orange;
}

.answers{
  display: inline-block;
  font-weight: bold;

}

img{
  width:400px;
  height:200px;
}

.choice{
    color: white;
    display:inline-block;
    position: relative;
    height: 35px;
    width: 75px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blue;
    left: 25px;
    top: 325px;
}
