#containsAnswers{
  width:700px;
  height:400px;
  background-color: orange;
  margin: 0 auto;
  text-align:center;
  padding: 10px;
}

.answers{
  display: inline-block; 
  font-weight: bold;
  padding: 10px;
}

img{
  width:400px;
  height:200px;
}

.hover{
  border: 5px solid white;
  color: green; 
}

.choice{
    color: white;
    display:inline-block;
    position: relative;
    height: 35px;
    width: 65px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blue;
    top: 325px;
    text-align:center;
}

.correct{
  background-color: green;
}
