/*make it pretty*/

*{
  font-family: 'Play', sans-serif;
}

div{
  display: inline;
}

p{
  display: inline;
  font-family: 'Play', sans-serif;
  /*text-indent: 50px;*/
}

b{color: red;
}

.unseen{
  display: none;

}
